$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 360px;

$desktop-wrapper: 1360px;
$tablet-wrapper: 688px;
$mobile-wrapper: 348px;

// Colors
$text-dark: #000;
$text-red: #fe1532;
$text-light: #fff;

$btn-main: #5455ac;
$btn-accent: #9899cd;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
