.game-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  transition: all 0.5s;
  @media (max-width: 750px) {
    gap: 30px;
  }
  @media (max-width: 500px) {
    gap: 20px;
  }
}

.word {
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.5s;
  @media (max-width: 845px) {
    font-size: 2.5rem;
  }

  @media (max-width: 750px) {
    font-size: 2rem;
  }
  @media (max-width: 630px) {
    font-size: 1.8rem;
  }
  @media (max-width: 500px) {
    font-size: 1.8rem;
  }
}

.letter {
  padding: 5px;
}
.question {
  text-align: center;
}

.incorrect-counter_active {
  color: red;
}
