p {
  margin: 20px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 50%;
  height: 60%;
  background-color: #a92a2a;
  border: 2px solid #000000;
  font-size: 2.4rem;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  font-weight: 700;
  transition: opacity 1s;
  opacity: 1;
  transition: all 0.4s;
  @media (max-width: 900px) {
  }
  @media (max-width: 900px) {
    font-size: 2rem;
  }

  @media (max-width: 550px) {
    font-size: 1.8rem;
  }
  @media (max-width: 400px) {
  }
}

.overlay {
  display: none;
}

.overlay_active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 3;
}
.modal__grats {
}
.modal__message {
}

.modal__word {
}

.modal__button {
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}

.button__arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  z-index: 6;
}

.hidden__modal {
  transition: all 1s ease;
  opacity: 0.1;
  display: none;
}

.modal__button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
